

.header{
    justify-content: space-between;
    background-color: $color-blanco;
    position: sticky;
    top: 0;
    height: auto;
    display: flex;

    &__nav{
        width: 33%;
        color: black;
        background-color: $color-blanco;
        justify-content: start;
        align-items: center;
        display: flex;

        ul{
            
            display: flex;
            justify-content: space-around;
            gap: 30px;
            margin-bottom: 0;
        }
    }
    
    &__navList{
        font-family: 'Roboto', sans-serif;
    }

    &__containerTitle{
        width: 33%;
        height: 4.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__tittle{
        font-family: 'Courier New', Courier, monospace;  
    }

    &__containerIcons{
        width: 33%;
        height: 4.375rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &__icons{
        height: 1.7rem;
        width: 7.125rem;
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        gap: 20px;
    }
    
}


.navbar-toggler{
    border: none;
}

.container-fluid{
    background-color: $color-blanco;
    padding: 0%;
    margin: 0%;
}

